.meenu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: -60px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 110px;
    height: 100%;
    background-color: #f6f3f2;
    padding-top: 60px;
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 15px;
    text-align: center;
    color: #000;
    cursor: pointer;
    border-bottom: 1px solid #555;
    transition: color 0.3s ease;
  }
  li:hover {
    color: rgb(230, 223, 223); 
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .meenu {
      left: 20px; /* Adjust the position for smaller screens */
      top: 20px; /* Adjust the position for smaller screens */
    }
  
    .sidebar {
      left: -100%; /* Hide the sidebar off-screen by default */
    }
  
    .sidebar.open {
      left: 0;
    }
  
    .close-btn {
      top: 20px;
      right: 20px;
    }
  }
  